<head>
	<title>Sourav Goswami | Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="assets/jquery.min.js"></script>
	<script src="assets/bootstrap.min.js"></script>
	<link rel="stylesheet" href="assets/bootstrap.min.css">
	<link rel="stylesheet" href="assets/style.css">
</head>

<body>
	<div class="margin-top"></div>

	<div class="head">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4 center-top">
				<div>
					<img src="assets/me.png" width="300px">
					<h1>Sourav Goswami</h1>
					<h5>Ruby on Rails Developer</h5>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-6 center-top">
				<%= IO.read(File.join(__dir__, %w(partials info.html))) %>
			</div>
		</div>
	</div>

	<div class="container p-4">
		<h3>Resume Objective</h3>
		<hr>
		<%= IO.read(File.join(__dir__, %w(partials objectives.html))) %>
		<br>
		<br>

		<h3>Certificates and Achievements</h3>
		<hr>
		<%= IO.read(File.join(__dir__, %w(partials achievements.html))) %>

		<h3>Skills</h3>
		<hr>
		<div class="row p-3">
			<div class="col-md-6">
				<h5>Programming Languages</h5>

				<% {
					Ruby: 95,
					JavaScript: 80,
					Crystal: 70,
					C: 60,
					Python: 40,
				}.each do |x, y| %>
					<div class="progress m-2">
						<div class="progress-bar progress-bar-striped bg-<%= y <= 20 ? 'danger' : y <= 40 ? 'warning' : y <= 60 ? 'primary' : 'success' %>"
							role="progressbar"
							aria-valuenow="<%= y %>"
							aria-valuemax="100"
							aria-valuemin="0"
							style="font-weight: bold ; width: <%= y %>% ; color: #fff ;"
						><%= x %></div>
					</div>
				<% end %>
			</div>

			<div class="col-md-6">
				<h5>Web Frameworks</h5>

				<% {
					'Ruby on Rails': 90,
					Jekyll: 90,
					Sinatra: 70,
				}.each do |x, y| %>
					<div class="progress m-2">
						<div class="progress-bar progress-bar-striped bg-<%= y <= 20 ? 'danger' : y <= 40 ? 'warning' : y <= 60 ? 'primary' : 'success' %>"
							role="progressbar"
							aria-valuenow="<%= y %>"
							aria-valuemax="100"
							aria-valuemin="0"
							style="font-weight: bold ; width: <%= y %>% ; color: #fff ;"
						><%= x %></div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="row p-3">
			<div class="col-md-6">
				<h5>Operating Systems</h5>
				<% {
					'GNU/Linux': 90,
					'Unix (BSD)': 65,
					Windows: 45,
				}.each do |x, y| %>
					<div class="progress m-2">
						<div class="progress-bar progress-bar-striped bg-<%= y <= 20 ? 'danger' : y <= 40 ? 'warning' : y <= 60 ? 'primary' : 'success' %>"
							role="progressbar"
							aria-valuenow="<%= y %>"
							aria-valuemax="100"
							aria-valuemin="0"
							style="font-weight: bold ; width: <%= y %>% ; color: #fff ;"
						><%= x %></div>
					</div>
				<% end %>
			</div>

			<div class="col-md-6">
				<h5>Designing Software</h5>
				<% {
					GIMP: 90,
					Inkscape: 75,
					Blender: 50,
				}.each do |x, y| %>
					<div class="progress m-2">
						<div
							class="progress-bar progress-bar-striped bg-<%= y <= 20 ? 'danger' : y <= 40 ? 'warning' : y <= 60 ? 'primary' : 'success' %>"
							role="progressbar"
							aria-valuenow="<%= y %>"
							aria-valuemax="100"
							aria-valuemin="0"
							style="font-weight: bold ; width: <%= y %>% ; color: #fff ;"
						><%= x %></div>
					</div>
				<% end %>
			</div>
		</div>

		<br>
		<br>
		<div class="row">
			<ul>
				<%{
					'Ruby on Rails' => 'f50 rails',
					'Ruby Programming' => 'f55 ruby',
					'Jekyll' => 'f58 jekyll',
					'GTK3' => '3aa gtk',
					'HTML5' => 'ee7934 html5',
					'CSS3' => '25a1e1 css3',
					'Sinatra' => 'a0a0a0 sinatra',
					'JavaScript' => 'EFD81D js',
					'BASH / Shells' => '2A3137 shell',
					'GNU/Linux' => 'FEB70A linux',
					'BSD' => 'CE1009 bsd',
					'Crystal Programming' => '666 crystal',
					'Inkscape' => '000 inkscape',
					'GIMP' => '808777 gimp',
					'Blender' => 'f76D0E blender'
				}.each do |x, y| %>
					<div class="tag inline" style="background-color: #<%= y.split(?\s)[0].to_s.scan(/[0-9a-f]/i).join.then { |c| c.length == 3 ? c + 'f' : c + 'ff' } %>">
						<li class="skill-badge">
							<img src="assets/<%= y.split(?\s)[1].to_s %>.png" class="icon16">
							<span class="skill-badge-label"><%= x %></span>
						</li>
					</div>
				<% end %>
			</ul>
		</div>
		<br><br>

		<h3>Projects</h3>
		<hr>
		<%= IO.read(File.join(__dir__, 'partials', 'projects.html')) %>
	</div>
</body>
